name: Newman Run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create artifacts directory
        run: mkdir testArtifacts

      # Config environment
      - name: Install Node
        uses: actions/setup-node@v3.4.1

      - name: Install Newman + Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Tests (Newman)
        run: >
          newman run ServeRest.postman_collection.json
          -e serveRest_env.postman_environment.json
          -r cli,htmlextra
          --reporter-htmlextra-export testArtifacts/report.html

      - name: Upload Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: testArtifacts
