name: Newman Run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create artifacts directory
        run: mkdir testArtifacts

      - name: Install Node
        uses: actions/setup-node@v4

      - name: Install Newman + Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Newman Tests
        run: >
          newman run serverest.postman_collection.json
          -e ServeRest.postman_environment.json
          -r cli,htmlextra
          --reporter-htmlextra-export testArtifacts/report.html

      - name: Upload Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: testArtifacts
